{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python MSS - Aperitivo{% endblock title %}
{% block description %}Página com vídeos gratuitos{% endblock description %}
{% block body %}
    <div class="container">
		<div class="row">
			<div class="col-md-12">
			<h3 class="mt-4 mb-3">{{ video.titulo | default:"Faltando Título"}}</h3>
            	<iframe width="533"
						height="265"
						src="https://www.youtube.com/embed/{{ video.youtube_id }}"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen>
				</iframe>
			</div>
		</div>
  	</div>

{% endblock body %}